body {
    max-width: 800px;
    margin: auto;
    text-align: center;
}

img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border: 2px solid gray;
    padding: 8px;
    margin: 8px;
    transition: all 0.5s;
}

img:hover {
    transform: scale(1.1);
    box-shadow: 0 0 8px gray;
}