html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    margin: 0;
}

h1 {
    text-align: center;
}

div {
    display: flex;
    align-items: stretch;
    width: 25rem;
    max-width: 90%;
    padding: 1rem;
    background: linear-gradient(135deg, #3bf, #3fc);
}

input {
    width: 1px;
    flex-basis: 100%;
    height: 2rem;
    font-size: 1.5rem;
    text-align: center;
}

input:focus,
select:focus {
    outline: 2px solid #fff333;
}

input:read-only:focus {
    outline: none;
}

select {
    margin: 0 0.5rem;
    font-size: 1.5rem;
}

span {
    align-self: center;
    margin: 0 0.5rem;
    font-size: 1.5rem;
}