* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

main {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    font-size: 32px;
    margin-bottom: 20px;
}

.lead {
    font-size: 18px;
    margin-bottom: 10px;
}

#taskInput {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    text-align: center;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 10px;
}

.tasks {
    list-style: none;
    padding: 0px 5px;
    margin: 10px;
    border: 2px solid black;

}

.task {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 0;
    border-bottom: 1px solid;
}

.task input[type="checkbox"] {
    margin-right: 10px;
}

.task input[type="text"] {
    flex: 1;
    border: none;
    padding: 5px;
    font-size: 16px;
    background-color: transparent;
}

/* Style for move-up and move-down buttons */
.move-up,
.move-down {
    background-color: #007BFF;
    /* Blue color */
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 5px;
}

.move-up:hover,
.move-down:hover {
    background-color: #0056b3;
}

/* Style for delete task button */
.delete-task {
    background-color: red;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.delete-task:hover {
    background-color: darkred;
}

/* CSS for crossing out the text when checkbox is checked */
.task input[type="checkbox"]:checked+input[type="text"] {
    text-decoration: line-through;
    color: #888;
}