body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.timer-container {
    padding: 100px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.button-container {
    margin-bottom: 20px;
    text-align: center;

}

button {
    font-size: 1.5rem;
    /* Increased font size */
    padding: 10px 20px;
    /* Ample padding for a bigger button */
    background-color: #007BFF;
    /* A blue background */
    color: #fff;
    /* White text */
    border: none;
    /* Remove border */
    border-radius: 5px;
    /* Rounded corners */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    /* A light shadow for depth */
    cursor: pointer;
    /* Hand pointer on hover */
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
    /* Smooth transitions */
    outline: none;
    /* Remove the default browser outline */
}

button:hover {
    background-color: #0056b3;
    /* A darker blue on hover */
    transform: translateY(-2px);
    /* A slight lift effect on hover */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    /* A deeper shadow when hovered */
}

button:active {
    transform: translateY(0);
    /* Button is pressed down when active */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    /* Restore original shadow depth */
}

#time-input {
    font-size: 1.5rem;
    /* Increased font size */
    padding: 10px 20px;
    /* Larger padding for a bigger input box */
    width: 100%;
    /* Full width of the container */
    border: 1px solid #ccc;
    /* A subtle border */
    border-radius: 5px;
    /* Rounded corners */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    /* A light shadow for depth */
    margin-bottom: 15px;
    /* Spacing below the input */
    transition: box-shadow 0.3s, transform 0.3s;
    /* Smooth transitions */
    outline: none;
    /* Remove the default browser outline */
}

#time-input:focus {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    /* A deeper shadow when focused */
    transform: translateY(-2px);
    /* A slight lift effect on focus */
}

#display-time {
    color: red;
    font-size: 4rem;
    margin-bottom: 20px;
    text-align: center;
}