@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&family=Kablammo&family=Nova+Oval&family=Roboto&display=swap");
html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    background-image: url("https://cdn.pixabay.com/photo/2017/10/22/21/24/knife-2879328_1280.jpg");
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
}

main {
    display: inline-block;
    min-height: 100%;
    padding: 0 2rem;
    background-color: #3333;
}

h1,
h2 {
    margin-bottom: 0;
    line-height: 1;
    font-family: "Indie Flower", cursive;
}

h1 {
    font-size: 3rem;
    text-decoration: underline;
}

h2 {
    font-size: 2rem;
    color: white;
}

ul {
    margin-top: 0;
    padding-left: 0;
    list-style-position: inside;
    line-height: 1.5;
}

.fa-book-open {
    color: black;
}

.fa-cookie-bite {
    color: coral;
}

.fa-utensils {
    color: gray;
}

.fa-ice-cream {
    color: pink;
}